<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css')}}">
    
    <title>
        {% block title %}
         Ollivanders API
        {% endblock %}
    </title>
</head>
<body>

    <!--?????????????????????????-->
    <!--?????????????????????????-->
      
        <header class="header-index">

             <!--Enlace para Titulo y Logotipo-->
    
        <a href="index.html" class="titulo">
            <img class="logotipo" src="../resources/svg/icono_company_rocket.svg" alt="">

            <h1>
                Ollivanders
            </h1>

        </a>

            {% block header %}

             <!--NAV-->
        <nav>

            <!-- Icono de Hamburguesa, para cuando el tamaño de la pantalla sea pequeño-->
            <input type="checkbox" id="check">
            <label for="check">
                <div id="btn">
                    <!--Lineas del simbolo de la Hamburguesa, estan vacías obviamente, porque el objetivo es que pueden clickear cuando se haga resposive-->
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>

                <!--Boton de cancelar, aparece para cerrar el menú desplegado-->
                <div id="cancel">
                    <img src="../resources/svg/simbolo_eliminar_44.svg" alt="">
                </div>
            </label>

            <!--Lista con el contenido principal del menú-->
            <ul class="nav-ul">

                <li>
                    <a href="viajes.html">Viajes</a>
                </li>

                <li>
                    <a href="cohetes.html">Cohetes</a>
                </li>

            </ul>

        </nav>


            {% endblock %}


        </header>


        <!--?????????????????????????-->
        <!--?????????????????????????-->

        <main class="first-panel">


            {% block main %}

            <!--Primer mensaje del index.html-->
            <h2>DESCUBRE LO MARAVILLOSO DE VIAJAR POR EL UNIVERSO</h2>
            <!--Imagen que acompaña al h2-->
            <img src="../resources/svg/Rocket-amico.svg"  class="index-presentation" alt="">

            {% endblock %}


        </main>


        <!--?????????????????????????-->
        <!--?????????????????????????-->

        <footer>

            {% block footer %}

            
        <!--?????????????????????????-->

            <!--LOGOTIPOS QUE APARECEN EN EL FOOTER-->
            <div class="logotipo-footer">
                <img src="../resources/svg/icono_company_rocket.svg" alt="">
                <img src="../resources/svg/astronauta_footer.svg" alt="">
            </div>

            <!--Contenido footer-->
            <p class="content-footer">
            <h3>Company</h3>
            <span>Politics about our product</span>
            <span>Teams</span>
            <span>Support</span>
            </p>

            <!--REDES SOCIALES-->
            <div class="redes-sociales box">
                
                <p>
                    <span>
                        <a href="#">
                            <img class="iconos" src="../resources/svg/facebook.svg" alt="">
                        </a>
                    </span>

                    <span>
                        <a href="#">
                            <img class="iconos" src="../resources/svg/twitter.svg">
                        </a>
                    </span>

                    <span>
                        <a href="#">
                            <img  class="iconos" src="../resources/svg/instagram.svg" alt="">
                        </a>
                    </span>

                </p>

            </div>


        <!--?????????????????????????-->


            {% endblock %}

        </footer>
   
</body>
</html>